

@{
    ViewData["Title"] = "ContactUs";
}
<h1>@ViewData["Title"]</h1>


<img src="https://th.bing.com/th/id/OIG1.IC2D7BtjGC0Mg3OXN2ti?pid=ImgGn"
     alt="Alternate Text" width="300" height="200" />

<p> Email: KhumaloCraft@gmailwebsite.com</p>
<p> Phone: +1 (885) 123-4567</p>
<p> Address: 123 Main Street, City, Country </p>
<p> Social Media: Twitter, Facebook, LinkedIn </p>

<body background=" https://i.pinimg.com/originals/1c/48/29/1c4829b6bb8c84c2da09cacc8ea23b35.png">
</body>


@* Title: How to apply full background image asp.net MVC
Edited: Jamie Rees
Date: 2015
Code Version:
https://stackoverflow.com/questions/32222608/how-to-apply-full-background-image-in-asp-net-mvc *@
