@model St10145657_POEPart2.Models.Customer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> KhumaloCraft </h1>

    <img src="    https://th.bing.com/th/id/OIG1.BiXg6Dw9drgprCYI_iMj?w=1024&h=1024&rs=1&pid=ImgDetMain"
         alt="Alternate Text" />



    <h2>
        KhumaloCraft is a shining beacon offering a unique platform
        where the rich tapestry of artisanal heritage is celebrated. It’s not just a marketplace;
        it’s a vibrant community that bridges the gap between traditional craftsmanship and modern digital
        convenience. The platform stands out for its commitment to empowering artisans, providing them with
        the recognition and financial support they deserve.
    </h2>




    <body background=" https://i.pinimg.com/originals/1c/48/29/1c4829b6bb8c84c2da09cacc8ea23b35.png">
    </body>
</div>

