@model St10145657_POEPart2.Models.Customer

@{
    ViewData["Title"] = "work Page";
}

<div class="text-center">
   
</div>
<body>


<img src="https://th.bing.com/th/id/OIP.mDlUQ4XN31557J3WB80BYgHaG2?rs=1&pid=ImgDetMain"
     alt="Alternate Text" width="300" height="200" />

<h3>
    What we have here is a simple but caring ArtWork stunning to look at
    for outdoor or indoor use priced at a comfortable R2 500.
    Note to mention these beautiful butterfly will need to be installed due to them being 20KG each.

</h3>

<h2>
    PRICE: R2 500
</h2>

<img src="https://th.bing.com/th/id/R.dcdf362f60a58ba2798cfe0b71b2bedf?rik=GyVO8635ghOy%2bA&riu=http%3a%2f%2fimg1.etsystatic.com%2f000%2f0%2f6226426%2fil_570xN.240357479.jpg&ehk=MffdIGRKYB1uN%2b5565I%2bzDu%2fauz6t%2fDCooWAtZfNgGk%3d&risl=&pid=ImgRaw&r=0"
     alt="Alternate Text" width="300" height="200" />


<h3>
    Here we have a space-ish spice sorter good for keeping your spice organized,
    the big body will definitely have your guest speaking for the right tea this
    good looking vintage is priced at R1 000.

</h3>

<h2>
    PRICE: R1 000
</h2>

<img src="https://th.bing.com/th/id/R.befe90f390b1c614422fe378a8ecc362?rik=z857NdyCLrY2wQ&pid=ImgRaw&r=0"
     alt="Alternate Text" width="300" height="200" />

<h3>
    Vintage lamps seem to be in season done by "THE" Mnqobi his piece has a
    take on how the light can light up a room however his not taking about the living room
    he only made 1/1 so this HandCraft item is Priced at R10 000 without Tax.
</h3>

<h2>
    PRICE: R10 000
</h2>

<img src="https://i1.wp.com/doityourzelf.com/wp-content/uploads/2019/06/60-Easy-DIY-Wood-Projects-for-Beginners-41.jpg?fit=1200%2C1489&ssl=1"
     alt="Alternate Text" width="300" height="200" />

<h3>
    R500
    For a great item for the family
</h3>

<h2>
    PRICE: R500
</h2>

<img src="https://i.pinimg.com/originals/c9/00/d5/c900d58aae81dd4828ee3cee1f510fe8.jpg"
     alt="Alternate Text" width="300" height="200" />

<h3>
    A traditional bowl done by the late Harry mixing pattens and sprials with a dust of carban fiber
    only making 20 of these bowls one of them being own by James Khumalo, the market price is
    R20 000 each in a set.
</h3>

<h2>
    PRICE: R20 000
</h2>
</body>